.about-container {
    padding: 40px;
    background-color: #fff;
    text-align: center;
}

.about-container h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.profile-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-top: 20px;
}
